#[link(name="hlife",
       vers="0.0")];

#[comment = "Implementation of Gosper's Hashlife algorithm"];
#[license = "WTFPL 2.0"];
#[author = "Michael 'rntz' Arntzenius"];

extern mod core (vers = "0.5");
extern mod std (vers = "0.5");

mod main;
mod hashlife;
mod parse;
mod hash_quads;

use hashlife::{World,Cell,Result};
